/node_modules
.env
/src/Utilities/Storage/Settings/VoiceChannels/vc.json
/src/Utilities/Storage/Settings/VoiceChannels/vcmembers.json
/src/Utilities/Storage/Settings/Whitelisted/whitelisted.json
/src/Utilities/Storage/Economy/Balance/balance.json
/src/Utilities/Storage/Economy/Bank/bank.json
/src/Utilities/Storage/Economy/Levels/levels.json
/src/Utilities/Storage/Settings/LevelRoles/levelroles.json
/src/Utilities/Storage/Settings/settings.json
/src/Utilities/Storage/Settings/Starboard/starboardsettings.json
/src/Utilities/Storage/Settings/Starboard/Starboard_Ids.json
/src/Utilities/Storage/Settings/LastClaim/lastclaim.json
/src/Utilities/Storage/Settings/Bump/bumpsettings.json
/src/Utilities/Storage/Settings/Bump/bumpcooldown.json
/src/Utilities/Storage/Settings/Bump/lastbump.json
/src/Utilities/Storage/Settings/AI/ai_history.json
/src/Utilities/Storage/Settings/AI/ai_nsfw_training.json
/src/Utilities/Storage/Economy/Shop/shop.json
/src/Utilities/Storage/Economy/Inventory/inventory.json
/src/Utilities/Storage/Settings/Rss/rss.json
/src/Utilities/Storage/Settings/Counting/counting.json
/src/Utilities/Storage/Settings/Counting/countingemojis.json
/src/Utilities/Storage/Settings/Github/github.json
/src/Utilities/Storage/Settings/StatusChannel/statuschannel.json
/src/Utilities/Storage/Settings/StickyMessages/stickymessages.json
/src/Utilities/Storage/Settings/ColoroftheWeek/cotw.json
/src/Utilities/Storage/Settings/Cooldowns/cooldowns.json
/src/Utilities/Storage/Settings/BanCount/lastban.json
/src/Utilities/Storage/Settings/OneWordStory/onewordstory.json
/src/Utilities/Storage/Staff/questions.json
/src/Utilities/Storage/Staff/applications.json
/src/Utilities/Storage/AI-Deadchat/ai-deadchat.json
/src/Utilities/Storage/Giveaways/giveaways.json
/src/Utilities/Storage/Giveaways/participants.json
/src/Utilities/Storage/Giveaways/settings.json
/src/Utilities/Storage/Settings/Specials/Specials.json
/src/Utilities/Storage/Settings/Qotd/lastqotd.json
/src/Utilities/Storage/Fallback/slapgifs.json
/src/Utilities/Storage/Fallback/kickgifs.json
/src/Utilities/Storage/Fallback/huggifs.json
/src/Utilities/Storage/Fallback/kissgifs.json
/src/Utilities/Storage/Fallback/ticklegifs.json
/src/Utilities/Storage/Fallback/punchgifs.json
/src/Utilities/Storage/Settings/JoinedMembers/joinedmembers.json
/src/Utilities/Storage/Settings/Bump/bumpcounter.json
/src/Utilities/Storage/Settings/Fun/counters.json
/src/Utilities/Storage/Settings/Birthdays/birthdays.json
/src/Utilities/Storage/Settings/Birthdays/birthdaysettings.json
/src/Utilities/Storage/Settings/Birthdays/birthdayssent.json
/src/Utilities/Storage/Settings/Passive/passive.json
/src/Utilities/Storage/Economy/Stolen/stolen.json
/src/Utilities/Storage/Settings/Lives/lives.json
/src/Utilities/Storage/Economy/Jobs/workers.json
/src/Utilities/Storage/Economy/Tax/tax.json
/src/Utilities/Storage/Economy/Stock/stock.json
CLAUDE.md
AGENTS.md
